.footer {
	border-top: 1px solid rgba(255,255,255,.3);
	padding: 1rem 0;
}

.foo__madeby {
	text-align: right;
    margin: 0.1em 0 0;
    display: block;
    color: $white;

	img {
		vertical-align: middle;
		margin-right: 1.3em;
	}

	&:hover {
		opacity: .85;
		color: $white;
		text-decoration: none;

		img {
			animation: float 3s ease-in-out infinite;
		}
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-12px);
	}
	100% {
		transform: translatey(0px);
	}
}