@media (min-width: 992px) {

	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 1.5rem;
	    padding-left: 1.5rem;
	}
}

.nav-link {
	color: $white;

	&:hover {
		opacity: .85;
		color: $white;
	}
}